<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.emergency"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.emergency.StartScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.emergency.AskHelp"
            android:label="@string/title_activity_ask_help"
            android:theme="@style/Theme.AppCompat.Light"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.emergency.StartScreen" />
        </activity>
        <activity
            android:name="com.example.emergency.GiveHelp"
            android:label="@string/title_activity_give_help"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.emergency.StartScreen" />
        </activity>
        <activity
            android:name="com.example.emergency.Result"
            android:label="@string/title_activity_result"
            android:theme="@style/Theme.AppCompat.Light"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.emergency.AskHelp" />
        </activity>
        <activity
            android:name="com.example.emergency.HelpDetails"
            android:label="@string/title_activity_help_details"
            android:theme="@style/Theme.AppCompat.Light"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.emergency.Result" />
        </activity>

        <fragment
            android:name="com.example.emergency.AFragment1"
            android:label="@string/title_activity_afragment" >
        </fragment>
        <fragment
            android:name="com.example.emergency.BFragment"
            android:label="@string/title_activity_bfragment" >
        </fragment>

        <activity
            android:name="com.example.emergency.GiveHelpSelect"
            android:label="@string/title_activity_give_help_first"
            android:theme="@style/Theme.AppCompat.Light"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.emergency.GiveHelpStart" />
        </activity>
        <activity
            android:name="com.example.emergency.GiveHelpSent"
            android:label="@string/title_activity_give_help_sent"
            android:theme="@style/Theme.AppCompat.Light"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.emergency.GiveHelpStart" />
        </activity>
        <activity
            android:name="com.example.emergency.GiveHelpStart"
            android:label="@string/title_activity_give_help_start"
            android:theme="@style/Theme.AppCompat.Light"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.emergency.GiveHelpStart" />
        </activity>
    </application>

</manifest>
